body{
    margin: 0%;
    padding: 0;
   
}


.image1{
    background-image: url("./images/image1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.box {
    position: absolute;
    background-color: black;
    text-align: center;
    padding: 10px;
    left: 45%;
    top: 45%;
    width: 200px;
    
    
    
}
.box > .boxtext {
    color: white;
    font-size: 20px;
}
p{
    text-align: center;
    
}
.text1{
    padding: 20px;
}
    
    
    
    
    
